header{
    grid-area: cab;
}
main{
    grid-area: pri;
}
aside{
    grid-area: sec;
}
footer{
    grid-area: rod;
}
body{
    display: grid;
    grid-template-areas: 
    "cab cab cab cab "
    "sec pri pri pri"
    "rod rod rod rod";
    grid-template-columns: 20% auto;
    grid-template-rows: 25% auto 15%;
}
