header{
    grid-area: cabe;
    border: solid red 2px;
}
main{
    grid-area: prin;
    border: solid blue 2px;
}
aside{
    grid-area: brac;
    border: solid yellow 2px;
}
footer{
    grid-area: roda;
    border: solid pink 2px;
}
body{
    display: grid;
    grid-template-areas:
    " cabe cabe cabe cabe "
    " brac prin prin prin "
    " roda roda roda roda ";
    grid-template-columns: 20% auto;
    grid-template-rows: 25% 200px 25%;
}
.logo{
    border-radius: 30%;
    transition: 1s;
    width: 10%;
}
nav{
    margin-top: 1rem;
}
nav li{
    display: inline;
    margin: 1rem;
}
nav a{
    text-decoration: none;
    font-size: 1.5rem;
    color:rgb(181, 181, 64), rgb(185, 179, 8), rgb(110, 93, 11);
    border: solid rgb(0 0 0);
    background-color: bisque;
}
header{
    display: flex;

}
